{% extends "base.html" %}

{% load i18n %}
{% load cadoblog_tags %}
{% load cadocms_tags %}
{% load mptt_tags %}

{% block above %}
	<div class="hero-unit">
		<div class="container">
			<h1>{{title}}</h1>
			<p>{% setting 'TAGLINE' %}</p>
			<p>
				{% recursetree categories %}
					{% if node.level == 0 %}
						{{children}}
					{% elif node.level == 1 %}
						<a class="btn btn-large" href="{% url "cadoblog.views.search" category_slug=node.slug %}">
						{{node.name}}
						</a>		
					{% endif %}
				{% endrecursetree %}
			</p>
		</div>
	</div>
{% endblock %}