<li class="span3">
	<div class="thumbnail">
		<a href="{% url 'cadoblog.views.post' post_slug=post.slug %}">
		{% if post.image %}
			<img src="{{post.thumbnail.url}}" alt="{{post.title}}"/>
		{% endif %}
		<h4>{{post.title}}</h4>
		</a>
	</div>
</li>