{% extends "base.html" %}

{% load i18n %}
{% load cadoblog_tags %}
{% load mptt_tags %}
{% load bootstrap_pagination %}

{% block seo_title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		{% for url, name in breadcrumbs %}
			{% if url %}
			<li><a href="{{url}}">{{ name }}</a> <span class="divider">&gt;</span></li>
			{% else %}
			<li class="active">{{ name }}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
{% if post.image %}
	<img src="{{post.image.url}}" alt="{{post.title}}"/>
{% endif %}
{% if post.body %}
<div class="well">
	{{post.body|safe}}
</div>
{% endif %}
{% endblock %}