{% extends "base.html" %}

{% load i18n %}
{% load cadoblog_tags %}
{% load mptt_tags %}
{% load bootstrap_pagination %}

{% block seo_title %}{{ category.name }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		{% for url, name in breadcrumbs %}
			{% if url %}
			<li><a href="{{url}}">{{ name }}</a> <span class="divider">&gt;</span></li>
			{% else %}
			<li class="active">{{ name }}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}


{# block sidebar %}
<div class="well">
	<h4>categories</h4>
	<ul class="categoryTree">
		{% recursetree categories %}
			{% if node.level > 0 %}
			<li>
				{% if search_params.category == node.slug %}
					<b>
				{% else %}
					<a href="{% url 'cadoblog.views.search' category_slug=node.slug %}">
				{% endif %}
			        {{ node.name }} ({{ node.count }})
				{% if search_params.category == node.slug %}
					</b>
				{% else %}
					</a>
				{% endif %}
				{% if not node.is_leaf_node %}
				<ul>
			        {{ children }}
			    </ul>
			    {% endif %}
	    	</li>
	    	{% else %}
			{{ children }}
			{% endif%}
		{% endrecursetree %}
	</ul>
</div>
{% endblock #}

{% block before %}
	{% block after %}
	<div class="clearfix">
	    {% bootstrap_paginate page %}
	</div>    
	{% endblock %}
{% endblock %}

{% block content %}
<ul class="thumbnails">
	{% for post in page.object_list %}
		{% include "blog/item.html" %} 
	{% endfor %}
</ul>
{% endblock %}