
<form method="get" class="form-search navbar-search" action="{% url 'cadoblog.views.search' category_slug='all' %}">
	<div class="input-append">
	 	<input placeholder="Search..." type="text" name="q" class="span2 search-query" value="{{ form.q.value|default_if_none:'' }}" style="width:100px;"/>
		    {% if category_path|length > 1 %}
	 		<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" style="border-radius:0">
		    		<span class="caret"></span>
		    	</button>
		    	<ul class="dropdown-menu pull-right">
		    		{% for category in category_path reversed %}
		    		<li>
		    			<a href="javascript:void(0);">
				    		<label class="radio">
								<input type="radio" name="category" value="{{category.slug}}" {% if forloop.first %} checked="checked"{% endif %}>
								{{category.name}}
							</label>
						</a>
					</li>
					{% endfor %}
		    	</ul>
    		</div>
	    	{% endif %}
		<button type="submit" class="btn">
	    	<i class="icon-search icon-white"></i>
	    </button>
	</div>
</form>