
.hero-unit {
	background-color: #202020;
	padding: 0;
	height: 600px;
	text-align: right;
	color: #eee;
	margin-bottom: 4px;
	margin-top: -10px;
	@include box-shadow(0px 0px 6px 6px #777);
}
.hero-unit .container {
	background-image: url(/hero.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 60px;
	height: 480px;
}
