{% extends "html5.html" %}

{% load i18n %}
{% load mptt_tags %}
{% load cadoblog_tags %}
{% load cadocms_tags %}

{% block seo_title %}{{title}}{% endblock %}

{% block html_body %}
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="/">{{title}}</a>
			
			<div class="nav-collapse collapse" id="main-menu">
				<ul class="nav" id="main-menu-left">
					{% recursetree categories %}
						{% if node.level == 0 %}
							<li class="divider-vertical"></li>
							<li><a href="{% url "cadoblog.views.search" category_slug=node.slug %}">{{node.name}}</a></li>
							{{children}}
						{% elif node.level == 1 and node.is_leaf_node %}
							<li class="divider-vertical"></li>
							<li><a href="{% url "cadoblog.views.search" category_slug=node.slug %}">{{node.name}}</a></li>
						{% elif node.level == 1 and not node.is_leaf_node %}
							<li class="divider-vertical"></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="{% url "cadoblog.views.search" category_slug=node.slug %}">{{node.name}} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{% url "cadoblog.views.search" category_slug=node.slug %}">{{node.name}}</a></li>
									<li class="divider"></li>
									{{ children }}
								</ul>
							</li>
						{% elif node.level == 2 %}
							<li><a href="{% url "cadoblog.views.search" category_slug=node.slug %}">{{node.name}}</a></li>
						{% endif %}
				    {% endrecursetree %}
				</ul>
				<ul class="nav pull-right" id="main-menu-right">
					{% for link in external_links %}
					<li><a rel="tooltip" target="_blank" href="{{link.url}}" title="{{link.name}}">{{link.name}} <i class="icon-share-alt"></i></a></li>
					{% endfor %}
				</ul>
				<div class="pull-right">
					{% search_form_simple %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="navbar-inner"></div>
{% block above %}
{% endblock %}
<div class="container">
	<div class="row">
		{% captureas sidebar_content %}{% spaceless %}{% block sidebar %}{% endblock %}{% endspaceless %}{% endcaptureas %}  
		
		<div id="content" {% if sidebar_content %} class="span9"{% endif %}>
			{% block breadcrumbs %}
			{% endblock %}
			{% block before %}
			{% endblock %}
			{% block content %}
			{% endblock %}
			{% block after %}
			{% endblock %}
		</div>
		
		{% if sidebar_content %}
			<div class="span3">
				{{sidebar_content}}
			</div>
		{% endif %}

	</div>
</div>
<div id="footer">
	<div class="container clearfix">
		<p class="muted credit pull-right">Copyright &copy; {{title}} . Coded by <a rel="author" href="http://cadosolutions.com/">CadoSolutions</a>.</p>
	</div>
</div>
{% endblock %}